@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

.match-summary-container {
  height: 7rem;
  font-family: 'Noto Sans', sans-serif;
}

.match-summary-container > a {
  text-decoration: none;
  transition: opacity 0.2s;
}

.match-date {
  color: #353535;
  font-size: 0.9rem;
  line-height: 1.5rem;
  padding: 0.25rem;
}

.teams-container {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  line-height: 3rem;
  height: 4rem;
  font-size: 1.5rem;
  text-align: center;
  border-top: 1px solid rgba(56, 0, 60, 0.3);
  border-bottom: 1px solid rgba(56, 0, 60, 0.3);
  padding: 5px 0;
  transition: all 0.3s;
  &:hover {
    transition: all 0.3s;
    background: rgb(230, 230, 230);
    .score-container {
      color: $deep-purple;
      background: $bright-pink;
    }
  }
}

.competition-logo {
  width: 30px;
  vertical-align: middle;
}

.home-team,
.away-team {
  color: #242424;
  width: 14rem;
}

.score-container {
  background: rgb(56, 0, 60);
  color: #ececec;
  width: 5rem;
}

.badge-container {
  width: 65px;
  padding: 20px;
  position: relative;
  top: 0;
  right: 0;
}

.team-badge {
  background: url("../images/badges-50-sprite.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  transform: scale(0.75);
}

.lcfc {
  background-position: -250px -450px;
}

.afc {
  background-position: -100px -50px;
}

.bhafc {
  background-position: -100px -200px;
}

.mufc {
  background-position: -450px -500px;
}

.sufc {
  background-position: -350px -600px;
}

.match-page {
  width: 3rem;
  height: 3rem;
}
