.teams-container {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  line-height: 3rem;
  font-size: 1.75rem;
  text-align: center;
  border-top: 1px solid rgba(56, 0, 60, 0.5);
  border-bottom: 1px solid rgba(56, 0, 60, 0.5);
  padding: 5px 0;
}

.match-date {
  color: #353535;
  font-size: 1rem;
}

.home-team,
.away-team {
  color: #242424;
  width: 14rem;
}

.score-container {
  background: #38003c;
  color: #ececec;
  width: 7rem;
}

.badge-container {
  width: 65px;
  height: 3rem;
  padding: 20px;
  position: relative;
  top: 0;
  right: 0;
}

.team-badge {
  background: url("../images/badges-50-sprite.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}

.team-badge,
.lcfc {
  background-position: -250px -450px;
}

.afc {
  background-position: -100px -50px;
}

.match-page {
  background: #ececec;
  color: white;
  width: 7rem;
}

.match-summary > a {
  text-decoration: none;
  transition: opacity 0.2s;
}

.match-page > a:hover {
  opacity: 0.5;
}
